</html>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PRF System</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Additional styles for this template-->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.css" />
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <!-- PDF Make -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>

    <!-- Font -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>

    <!-- Moment Awesome -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js"></script>

    <script>

        $(document).ready(() => {
            if ($('#curStat').text() != '') {
                alert('Invalid Credentials Found!')
            }
            //if($('#pws1').text() == '') {
            //    window.location=document.getElementById('logout').href;
            //}

            $('#dash1').click(()=>{
                $('#myDash').submit()
            })
        })
    </script>


</head>

<body class="bg-dark">

    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>

    <div id="curStat" class="invisible">{{invalid}}</div>
    <div id="pws1" class="invisible">{{pws1}}</div>
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1"><b>
                <font color="white">Grand Pacific Travel & Tours Corp.</font>
            </b></a>

        {{!-- <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button> --}}



        <!-- Navbar -->
    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li id="dash1" class="nav-item active">
                <a class="nav-link" href="#">
                    <span>Dashboard</span>
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#accessModal">
                    <span>Gross Report</span>
                    <i class="fas fa-fw fa-table"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#passwordManager">
                    <span>Password Manager</span>
                    <i class="fa fa-lock"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#headings">
                    <span>Headings</span>
                    <i class="fas fa-fw fa-file"></i></a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link" href="/prf">
                    <span>Create New PRF &#10010</span></a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <span>Import</span>
                    <i class="fa fa-truck"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#export">
                    <span>Export</span>
                    <i class="fa fa-plane"></i></a>
            </li>
            <br>
            <li class="nav-item">
                <a id= 'logout'class="nav-link" href="/login">
                    <span>Logout</span>
                    <i class="fa fa-sign-out"></i></a>
            </li>
        </ul>

        {{!-- Content --}}
        {{{body}}}
        <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Access Modal -->
    <form method="POST" action="gross">

        <div class="modal fade" id="accessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Credentials Required</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">This page requires an admin password to proceed.</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="pw" class="form-control form-control-lg rounded-0" id="pwd1"
                                required="" autocomplete="new-password">
                            <div class="invalid-feedback">Enter your password too!</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <!-- PASSWORD MANAGER MODAL -->
    <form action="passwordmanager" method="POST">
        <div class="modal fade" id="passwordManager" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Credentials Required</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">This page requires an admin password to proceed.</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="pw" class="form-control form-control-lg rounded-0" id="pwd1"
                                required="" autocomplete="new-password">
                            <div class="invalid-feedback">Enter your password too!</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- HEADINGS MODAL -->
    <form action="headings" method="POST">
        <div class="modal fade" id="headings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Credentials Required</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">This page requires an admin password to proceed.</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="pw" class="form-control form-control-lg rounded-0" id="pwd1"
                                required="" autocomplete="new-password">
                            <div class="invalid-feedback">Enter your password too!</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit">Enter</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- DELETE MODAL -->
    
        <div class="modal fade" id="deleteThis" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Credentials Required</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">This page requires an admin password to proceed.</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="pw" class="form-control form-control-lg rounded-0" id="pwd4"
                                required="" autocomplete="new-password">
                            <div class="invalid-feedback">Enter your password too!</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" id="btnDelete" type="button">Enter</button>
                    </div>
                </div>
            </div>
        </div>

    {{!-- EXPORT MODAL --}}

    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Export to Excel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm d-flex justify-content-center">
                            <form method="get" action="export/prf">
                                <button class="btn btn-primary btn-lg" type="submit">Export PRF</button>
                            </form>
                        </div>
                        <div class="col-sm d-flex justify-content-center">
                            <form method="get" action="export/po">
                                <button class="btn btn-primary btn-lg" type="submit">Export PO</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

{{!-- AUTHENTICATED DASHBOARD --}}

<form action="dashboard1" method="POST" id="myDash">
    <input type="hidden" name="dash" id="dashB" value="dashbo">
</form>


</html>