<script>


  $(document).ready(() => {
    if ($('div#curStatus').text() != '')
      alert($('div#curStatus').text())

    $('#btnStaff').click(() => {
      let curPass = $('#staffPass').val()
      let newPass = $('#newSPass').val()
      let conPass = $('#newSPassC').val()

      if (newPass != conPass)
        alert("Passwords Do Not Match!!")
      else
        $('#submitStaff').submit()

    })

    $('#btnOwner').click(() => {
      let curPass = $('#ownerPass').val()
      let newPass = $('#newOPass').val()
      let conPass = $('#newOPassC').val()

      if (newPass != conPass)
        alert("Passwords Do Not Match!!")
      else
        $('#submitOwner').submit()
    })
  })


</script>


<div id="content-wrapper">

  <div class="container-fluid">

    <!-- Breadcrumbs-->

    <div class="breadcrumb">

      <div class="breadcrumbowner">
        <form action="ownerNew" id="submitOwner" method="POST">
          <font style="font-family:Helvetica;"><b>Owner</b></font><br />
          <label for="currpassowner">Current Password: </br></label>
          <input id="ownerPass" name="currentowner" type="password" class="inlab" placeholder="Current Password" /><br>
          <label for="newpassowner">New Password:</label>
          <input id="newOPass" name="newowner" type="password" class="inlab" placeholder="New Password" /><br>
          <label for="retypeowner">Confirm Password:</label>
          <input id="newOPassC" name="retypeowner" type="password" class="inlab" placeholder="Confirm Password" /><br>
          <button class="btn btn-cancel my-md-1" type="button" style="float: right;">
            Cancel&nbsp;&#10060
          </button>
          <div class="divider" />
          <button id="btnOwner" class="btn btn-save my-md-1" type="button" style="float: right;">
            Save&nbsp;
            <i class="fa fa-save" aria-hidden="true"></i>
          </button>
        </form>
      </div>



    </div>


    <div class="breadcrumbstaff">
      <form method="POST" action="staffNew" id="submitStaff">
        <font style="font-family:Helvetica;"><b>Staff</b></font><br />
        <label for="currpassstaff">Current Password: </br></label>
        <input id='staffPass' name="currentstaff" type="password" class="inlab" id="currpassstaff"
          placeholder="Current Password" /><br>
        <label for="newpassstaff">New Password:</label>
        <input id="newSPass" name="newstaff" type="password" class="inlab" id="newpassstaff"
          placeholder="New Password" /><br>
        <label for="retypestaff">Confirm Password:</label>
        <input id="newSPassC" name="retypestaff" type="password" class="inlab" id="retypestaff"
          placeholder="Confirm Password" /><br>
        <button class="btn btn-cancel my-md-1" type="button" style="float: right;">
          Cancel&nbsp;&#10060
        </button>
        <div class="divider" />
        <button id="btnStaff" class="btn btn-save my-md-1" type="button" style="float: right;">
          Save&nbsp;
          <i class="fa fa-save" aria-hidden="true"></i>
      </form>
    </div>



  </div>