<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  
      <a class="navbar-brand mr-1"><b><font color="white">Grand Pacific Travel & Tours Corp.</font></b></a>
  
      {{!-- <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button> --}}
  
      <!-- Navbar -->

  
    </nav>
  
    <div id="wrapper">
  
      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="dashboard">
            <span>Dashboard</span>
            <i class="fas fa-fw fa-tachometer-alt"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#accessModal">
            <span>Gross Report</span>
	    <i class="fas fa-fw fa-table"></i></a>
        </li>
	<li class="nav-item active">
          <a class="nav-link" href="passwordmanager">
            <span>Password Manager</span>
	    <i class="fa fa-lock"></i></a>
        </li>
	<li class="nav-item">
          <a class="nav-link" href="headings">
            <span>Headings</span>
            <i class="fas fa-fw fa-file"></i></a>
        </li>
<span style="white-space: pre-line">@Model.CommentText</span>
	<li class="nav-item">
          <a class="nav-link" href="prf">
            <span>Create New PRF &#10010</span></a>
        </li>
	<li class="nav-item">
          <a class="nav-link" href="po">
            <span>Create New PO &#10010</span></a>
        </li>
<span style="white-space: pre-line">@Model.CommentText</span>
	<li class="nav-item">
          <a class="nav-link" href="">
            <span>Import</span>
            <i class="fa fa-truck"></i></a>
        </li>
	<li class="nav-item">
          <a class="nav-link" href="">
            <span>Export</span>
            <i class="fa fa-plane"></i></a>
        </li>
<span style="white-space: pre-line">@Model.CommentText</span>
	<li class="nav-item">
          <a class="nav-link" href="login">
            <span>Logout</span>
            <i class="fa fa-sign-out"></i></a>
        </li>
      </ul>

      <div id="content-wrapper">
  
        <div class="container-fluid">
  
          <!-- Breadcrumbs-->

	<div class="breadcrumb">
		<div class="breadcrumbowner">
		<font style="font-family:Helvetica;"><b>Owner</b></font><br/>
		<label for="currpassowner">Current Password: </br></label>
       		<input name="currentowner" type="text" class="inlab" id="currpassowner" placeholder="Current Password"/><br>
		<label for="newpassowner">New Password:</label>		
        	<input name="newowner" type="text" class="inlab" id="newpassowner" placeholder="New Password"/><br>
		<label for="retypeowner">Re-Type Password:</label>		
        	<input name="retypeowner" type="text" class="inlab" id="retypeowner" placeholder="Re-Type Password"/><br>
	<button class="btn btn-cancel my-md-1" type="button" style="float: right;">
		Cancel&#10060
	</button>
<div class="divider"/>
        <button class="btn btn-save my-md-1" type="button" style="float: right;">
		Save&#10004
	</button>
		</div>
	</div>
		<div class="breadcrumbmanager">
		<font style="font-family:Helvetica;"><b>Manager</b></font><br/>
		<label for="currpassmanager">Current Password: </br></label>
       		<input name="currentmanager" type="text" class="inlab" id="currpassmanager" placeholder="Current Password"/><br>
		<label for="newpassmanager">New Password:</label>		
        	<input name="newmanager" type="text" class="inlab" id="newpassmanager" placeholder="New Password"/><br>
		<label for="retypemanager">Re-Type Password:</label>		
        	<input name="retypemanager" type="text" class="inlab" id="retypemanager" placeholder="Re-Type Password"/><br>
	<button class="btn btn-cancel my-md-1" type="button" style="float: right;">
		Cancel&#10060
	</button>
<div class="divider"/>
        <button class="btn btn-save my-md-1" type="button" style="float: right;">
		Save&#10004
	
	</div></div>
	
	<div class="breadcrumbstaff">
		<font style="font-family:Helvetica;"><b>Staff</b></font><br/>
		<label for="currpassstaff">Current Password: </br></label>
       		<input name="currentstaff" type="text" class="inlab" id="currpassstaff" placeholder="Current Password"/><br>
		<label for="newpassstaff">New Password:</label>		
        	<input name="newstaff" type="text" class="inlab" id="newpassstaff" placeholder="New Password"/><br>
		<label for="retypestaff">Re-Type Password:</label>		
        	<input name="retypestaff" type="text" class="inlab" id="retypestaff" placeholder="Re-Type Password"/><br>
	<button class="btn btn-cancel my-md-1" type="button" style="float: right;">
		Cancel&#10060
	</button>
<div class="divider"/>
        <button class="btn btn-save my-md-1" type="button" style="float: right;">
		Save&#10004
	</div>
    <!-- /#wrapper -->
  
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>